{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}
{% block createtactive %}active{% endblock createtactive %}
{% block body %}
<div class="container my-3">
    <h3>Create User Here</h3>
    <form action="/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">User Name</label>
            <input type="text" class="form-control" id="uname" name="uname" aria-describedby="name" placeholder="Enter Your Name" Required>
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Your Email" Required>

        </div>
        <br>
        <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" aria-describedby="name" placeholder="Enter Your Password" Required>
        </div>
        <br>
        <div class="form-group">
            <label for="name">Confirm Password</label>
            <input type="password" class="form-control" id="pass2" name="pass2" aria-describedby="name" placeholder="Confirm Password" Required>
        </div>
        <br>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}